<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>Heritage App</h3>
            <p class="pb-3"><em>Heritage Site Identifier and Damage Assessment App is an Android app designed to
                identify cultural heritage sites and assess any potential damage, aiding in their preservation and
                protection.</em>
            </p>
            <p>
              938 Aurora Blvd, Cubao, <br>
              Quezon City, 1109 Metro Manila<br><br>
              <strong>Phone:</strong> +63 912 345 6789<br>
              <strong>Email:</strong> capstone.project@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#about">About the Project</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">Machine Learning</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">Object Detection</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">Artificial Intelligence</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)">Algorithm</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to get the latest update of the app.</p>
          <form action="javascript:void(0)" id="newsletter_form">
            <input type="email" name="newsletter_email" required>
            <input type="submit" id="newsletter_submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Heritage App</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>

<div id="preloader"></div>

<!-- ======= View Full Screen Image Modal ======= -->
<div class="modal fade" id="view_image_modal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <!-- Close button -->
      <button type="button" class="btn-close btn-close-red" data-bs-dismiss="modal" aria-label="Close"></button>
      <!-- Image container -->
      <img id="image_container" alt="Full Screen Image">
    </div>
  </div>
</div>

<!-- List New Image Modal -->
<div class="modal fade" id="list_new_image" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register a Church</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/unregistered_dataset" method="POST" enctype="multipart/form-data" id="list_new_image_form">
        <div class="modal-body">
          <div class="w-100 text-center">
            <img id="imagePreview" src="{{ url_for('static', filename='assets/img/no-image.png') }}" alt="Image Preview"
              style="width: 100%;" class="img-thumbnail mb-3 img-shadow">
          </div>

          <div class="mb-3 w-100 d-flex justify-content-center">
            <input type="file" class="form-control" id="imageInput" name="list_new_image_object_image" accept="image/*"
              required>
          </div>

          <div class="form-group mb-3">
            <label for="list_new_image_object_name" class="form-label">Object Name</label>
            <input type="text" class="form-control" id="list_new_image_object_name" name="list_new_image_object_name"
              required>
          </div>
          <div class="form-group">
            <label for="list_new_image_location" class="form-label">Location</label>
            <select name="list_new_image_location" id="list_new_image_location" class="form-control" required>
              <option value="" selected disabled>-- Choose --</option>
              <option value="Luzon">Luzon</option>
              <option value="Visayas">Visayas</option>
              <option value="Mindanao">Mindanao</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" name="list_new_image_user_id" id="list_new_image_user_id">

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="list_new_image_submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update Folder Name Modal -->
<div class="modal fade" id="update_folder_name_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Object Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/update_folder_name" method="POST" id="update_folder_name_form">
        <div class="modal-body">
          <div class="form-group">
            <label for="update_folder_name_folder_name" class="form-label">New Object Name</label>
            <input type="text" class="form-control" id="update_folder_name_folder_name"
              name="update_folder_name_folder_name" required>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" id="update_folder_name_old_folder_name" name="update_folder_name_old_folder_name">

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="update_folder_name_submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/jquery/jquery-3.7.1.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/sweetalert2/sweetalert2@11.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

<script>
  $(document).ready(function () {
    var currentPageUrl = window.location.href;
    var url = new URL(currentPageUrl);
    var path = url.pathname.substring(1);

    var header = document.getElementById("header");
    var home = document.getElementById("nav_home");
    var about = document.getElementById("nav_about");
    var contact = document.getElementById("nav_contact");
    var detect = document.getElementById("nav_detect");
    var upload_history = document.getElementById("nav_upload_history");
    var unlisted_images = document.getElementById("nav_unlisted_images");
    var transaction_logs = document.getElementById("nav_transaction_logs");

    var imageInput = document.getElementById("fileInput");
    var previewImage = document.getElementById("previewImage");
    var result_form = document.getElementById("result_form");
    var result_submit = document.getElementById("result_submit");

    var list_new_image_object_name = document.getElementById("list_new_image_object_name");
    var list_new_image_submit = document.getElementById("list_new_image_submit");
    var list_new_image_form = document.getElementById("list_new_image_form");

    var resultImage = document.getElementById("result-image");
    var detectImage = document.getElementById("previewImage");

    var result_user_id = document.getElementById("result_user_id");
    var list_new_image_user_id = document.getElementById("list_new_image_user_id");

    var notification = "{{notification}}";

    var user_data = JSON.parse(sessionStorage.getItem("user_data"));

    get_upload_data(user_data.id);

    if (user_data.id == 1) {
      upload_history.classList.remove("d-none");
      transaction_logs.classList.remove("d-none");
    }

    if (user_data) {
      $("#back_to_unregistered_dataset").attr("href", "/unregistered_dataset?user_id=" + user_data.id);
      $("#nav_unlisted_images").attr("href", "/unregistered_dataset?user_id=" + user_data.id);
      $("#nav_upload_history").attr("href", "/upload_history?user_id=" + user_data.id);
    } else {
      location.href = "/invalid_login";
    }

    if (!isMobileOrTablet()) {
      // location.href = "/browser_error";

      $(".centered-items").removeClass("text-center");
      $("#previewImage").removeClass("w-100");
      $("#previewImage").attr("style", "width: 500px; height: 500px;");

      $("#div_image_result").attr("style", "width: 500px; height: 500px;");
      $("#div_upload_functions").attr("style", "width: 500px;");
      $("#div_upload_functions").removeClass("w-100");
      $(".history_image").attr("style", "width: 100%; height: 250px;");
      $(".view_images_image").attr("style", "width: 100%; height: 250px;");
    }

    if (notification != "None") {
      notification = {
        "title": "{{ notification['title'] }}",
        "text": "{{ notification['text'] }}",
        "icon": "{{ notification['icon'] }}",
      }

      sweet_alert(notification);
    }

    if (path == "transaction_logs" || path == "detect" || path == "result" || path == "unregistered_dataset" || path == "view_images" || path == "upload_history") {
      header.classList.remove("header-transparent");
      home.classList.remove("active");

      home.setAttribute("href", "/home");
      about.setAttribute("href", "/home#about");
      contact.setAttribute("href", "/home#contact");
    }
    else {
      header.classList.add("header-transparent");
      home.classList.add("active");
      detect.classList.remove("active");
      unlisted_images.classList.remove("active");
      upload_history.classList.remove("active");
      transaction_logs.classList.remove("active");

      home.setAttribute("href", "#hero");
      about.setAttribute("href", "#about");
      contact.setAttribute("href", "#contact");
    }

    if (path == "unregistered_dataset") {
      detect.classList.remove("active");
      upload_history.classList.remove("active");
      transaction_logs.classList.remove("active");
      unlisted_images.classList.add("active");

      list_new_image_user_id.value = user_data.id;

      $(".view_images").attr("user_id", user_data.id);

      list_new_image_form.addEventListener("submit", function () {
        list_new_image_submit.disabled = true;
        list_new_image_submit.textContent = "Please Wait...";
      });

      if (user_data.user_type == "admin") {
        // $(".update_folder_name").removeClass("d-none");
        $(".archive_folder").removeClass("d-none");
      }
      else {
        // $(".update_folder_name").addClass("d-none");
        $(".archive_folder").addClass("d-none");
      }
    }

    if (path == "detect") {
      detect.classList.add("active");
      unlisted_images.classList.remove("active");
      upload_history.classList.remove("active");
      transaction_logs.classList.remove("active");

      result_user_id.value = user_data.id;

      imageInput.addEventListener("change", function () {
        if (imageInput.files && imageInput.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            previewImage.src = e.target.result;
          };

          reader.readAsDataURL(imageInput.files[0]);
        }
      });

      result_form.addEventListener("submit", function () {
        result_submit.disabled = true;
        result_submit.textContent = "Please Wait...";
      });

      if (detectImage) {
        var currentWidth = detectImage.offsetWidth;

        detectImage.style.height = currentWidth + "px";
      }
    }

    if (path == "upload_history") {
      detect.classList.remove("active");
      unlisted_images.classList.remove("active");
      upload_history.classList.add("active");
      transaction_logs.classList.remove("active");
    }
    
    if (path == "transaction_logs") {
      detect.classList.remove("active");
      unlisted_images.classList.remove("active");
      transaction_logs.classList.add("active");
      upload_history.classList.remove("active");
    }

    if (path == "result") {
      if (resultImage) {
        var currentWidth = resultImage.offsetWidth;

        resultImage.style.height = currentWidth + "px";
      }
    }

    $("#imageInput").change(function (event) {
      var input = event.target;
      var imgElement = document.getElementById('imagePreview');

      if (!input.files || !input.files[0]) {
        imgElement.src = "{{ url_for('static', filename='assets/img/no-image.png') }}";
      }
      else {
        var reader = new FileReader();

        reader.onload = function () {
          imgElement.src = reader.result;
        };

        reader.readAsDataURL(input.files[0]);
      }
    });

    $(".clickable_image").click(function () {
      const src = $(this).attr("src");

      $("#image_container").attr("src", src);

      $("#view_image_modal").modal("show");
    })

    $(".view_images").click(function () {
      var user_id = $(this).attr("user_id");
      var folder_name = $(this).attr("folder_name");

      $('#user_id').val(user_id);
      $('#folder_name').val(folder_name);

      $('#view_images_form').submit();
    })

    $(".update_folder_name").click(function () {
      var folder_name = $(this).attr("folder_name");

      $('#update_folder_name_old_folder_name').val(folder_name);
    })

    $(".archive_folder").click(function () {
      var folder_name = $(this).attr("folder_name");

      Swal.fire({
        title: "Are you sure?",
        text: "You are going to archive \"" + folder_name + "\" and its contents!",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, archive it!"
      }).then((result) => {
        if (result.isConfirmed) {
          $('#archive_folder_folder_name').val(folder_name);

          $('#archive_folder_form').submit();
        }
      });
    })

    $("#contact_us_form").submit(function () {
      const name = $("#contact_us_name").val();
      const email = $("#contact_us_email").val();
      const subject = $("#contact_us_subject").val();
      const message = $("#contact_us_message").val();

      $("#contact_us_submit").attr("disable", true);
      $("#contact_us_submit").text("Processing...");

      var formData = new FormData();

      formData.append('name', name);
      formData.append('email', email);
      formData.append('subject', subject);
      formData.append('message', message);

      $.ajax({
        url: '/contact_us_message',
        data: formData,
        type: 'POST',
        dataType: 'JSON',
        processData: false,
        contentType: false,
        success: function (response) {
          location.href = "/home";
        },
        error: function (_, _, error) {
          console.error(error);
        }
      });
    })

    $("#update_folder_name_form").submit(function () {
      $("#update_folder_name_submit").attr("disable", true);
      $("#update_folder_name_submit").text("Processing...");
    })

    $("#newsletter_form").submit(function () {
      const email = $("#newsletter_email").val();

      $("#newsletter_submit").attr("disable", true);
      $("#newsletter_submit").val("Processing...");

      var formData = new FormData();

      formData.append('email', email);

      $.ajax({
        url: '/newsletter_list',
        data: formData,
        type: 'POST',
        dataType: 'JSON',
        processData: false,
        contentType: false,
        success: function (response) {
          location.href = "/home";
        },
        error: function (_, _, error) {
          console.error(error);
        }
      });
    })

    $("#nav_logout").click(function () {
      const user_id = user_data.id;

      var formData = new FormData();

      formData.append('user_id', user_id);
      formData.append('logout', true);

      $.ajax({
        url: '/logout',
        data: formData,
        type: 'POST',
        dataType: 'JSON',
        processData: false,
        contentType: false,
        success: function (response) {
          sessionStorage.clear();

          location.href = "/";
        },
        error: function (_, _, error) {
          console.error(error);
        }
      });
    })

    function get_upload_data(user_id) {
      var formData = new FormData();

      formData.append('user_id', user_id);

      $.ajax({
        url: '/get_upload_data',
        data: formData,
        type: 'POST',
        dataType: 'JSON',
        processData: false,
        contentType: false,
        success: function (response) {
          if (response) {
            upload_history.classList.remove("d-none");
          }
        },
        error: function (_, _, error) {
          console.error(error);
        }
      });
    }

    function isMobileOrTablet() {
      var mobileRegex = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i;
      var tabletRegex = /Tablet|iPad/i;

      var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

      if (mobileRegex.test(navigator.userAgent) || (tabletRegex.test(navigator.userAgent) && screenWidth < 1025)) {
        return true;
      } else {
        return false;
      }
    }

    function sweet_alert(data) {
      Swal.fire({
        title: data.title,
        text: data.text,
        icon: data.icon
      });
    }
  })
</script>
</body>

</html>