<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <title>Heritage Site Identifier and Damage Assessment App</title>

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
  
  <!-- Custom CSS File -->
  <link href="{{ url_for('static', filename='assets/css/custom-style.css') }}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1><a href="/home"><span>Heritage App</span></a></h1>
      </div>

      <!-- ======= Navbar ======= -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#hero" id="nav_home">Home</a></li>
          <li><a class="nav-link d-none" href="#about" id="nav_about">About the Project</a></li>
          <li><a class="nav-link d-none" href="#contact" id="nav_contact">Contact Us</a></li>
          <li><a class="nav-link" href="/detect" id="nav_detect">Detect Church</a></li>
          <li><a class="nav-link active" id="nav_upload_history">History</a></li>
          <li><a class="nav-link" href="javascript:void(0)" id="nav_unlisted_images">Register a Church</a></li>
          <li><a class="nav-link d-none" href="/transaction_logs" id="nav_transaction_logs">Activity Logs</a></li>
          <li><a class="nav-link" href="javascript:void(0)" id="nav_logout">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->