{% include 'includes/header.html' %}
<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="row w-100 mt-lg-0 mt-3">
                    <div class="col-10">
                        <h2>Register a Church</h2>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary float-end d-lg-block d-none" id="btn_list_new_image" data-bs-toggle="modal" data-bs-target="#list_new_image">
                            <i class="fa fa-plus me-1"></i>
                            New Church
                        </button>
                        <button class="btn btn-primary float-end d-lg-none d-block" id="btn_list_new_image" data-bs-toggle="modal" data-bs-target="#list_new_image">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <section class="inner-page py-4">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Object Name</th>
                        <th scope="col">Location</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                    {% for single_data in data %}
                    <tr>
                        <td>{{ single_data.object_name }}</td>
                        <td>{{ single_data.location }}</td>
                        <td class="text-center text-truncate">
                            <i class="fa fa-eye text-success me-2 view_images" role="button" title="View Images" folder_name="{{ single_data.object_name }}"></i>
                            <!-- <i class="fa fa-edit text-primary me-2 update_folder_name" role="button" title="Edit Object Name" folder_name="{{ single_data.object_name }}" data-bs-toggle="modal" data-bs-target="#update_folder_name_modal"></i> -->
                            <i class="fa fa-archive text-danger archive_folder" role="button" title="Archive Object" folder_name="{{ single_data.object_name }}"></i>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <th class="text-center text-muted" colspan="3">
                            <h1 class="py-5">No Data Available</h1>
                        </th>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>
</main>

<form action="/view_images" method="post" class="d-none" id="view_images_form">
    <input type="hidden" id="user_id" name="user_id">
    <input type="hidden" id="folder_name" name="folder_name">
</form>

<form action="/archive_folder" method="post" class="d-none" id="archive_folder_form">
    <input type="hidden" id="archive_folder_folder_name" name="archive_folder_folder_name">
</form>
{% include 'includes/footer.html' %}