{% include 'includes/header.html' %}
<main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Upload History</h2>
                <ol>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/detect">Image Detection</a></li>
                    <li>Upload History</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <section class="inner-page py-4">
        <div class="container">
            <div class="row">
                {% if data %}
                {% for item in data %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <img src="{{ url_for('static', filename='uploads/'+ item.image_name +'') }}"
                                class="card-img-top img-shadow my-1 w-100 clickable_image history_image"
                                alt="{{ item.image_name }}" role="button">
                        </div>
                        <div class="card-body">
                            <h5>Church Details</h5>
                            <hr>
                            <span class="d-block mb-1">
                                <strong>Church Name:</strong> {{item.church_name}}
                            </span>
                            <span class="d-block mb-1">
                                <strong>Location:</strong> {{item.location}}
                            </span>
                            <span class="d-block mb-1">
                                <strong>Building Capacity:</strong> {{item.building_capacity}}
                            </span>
                            <span class="d-block mb-1">
                                <strong>Date Built:</strong> {{item.date_built}}
                            </span>
                            <span class="d-block">
                                <strong>Short Description:</strong> {{item.short_description}}
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1 class="text-center text-muted pb-5">No Data Available</h1>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% include 'includes/footer.html' %}