{% include 'includes/header.html' %}
<section id="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1 class="text-white text-center centered-items">Welcome to our <span>Heritage App</span></h1>
                    <h2 class="text-center centered-items">Discover, protect, preserve with Heritage App - your guide to
                        safeguarding global heritage.</h2>
                    <div class="text-center text-lg-start centered-items">
                        <a href="/detect" class="btn-get-started">
                            <i class="fa fa-camera me-1"></i>
                            Try Detect Church
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="{{ url_for('static', filename='assets/img/hero-img.png') }}" width="100%"
                    class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
        </g>
    </svg>

</section>

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
                    data-aos="fade-right">
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                    data-aos="fade-left">
                    <h3>Introducing the Heritage Site Identifier and Damage Assessment App</h3>
                    <p>Our Heritage Site Identifier and Damage Assessment app is designed to seamlessly integrate the
                        wonders of augmented
                        reality and artificial intelligence, providing users with an unparalleled experience in
                        discovering and learning about cultural treasures. The app simplifies the exploration of
                        historical landmarks by allowing users to upload images and instantly receive detailed
                        information about the heritage site captured in their photo.</p>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-camera"></i></div>
                        <h4 class="title"><a href="javascript:void(0)">Image Recognition Technology</a></h4>
                        <p class="description">Harnessing the capabilities of advanced image recognition algorithms, our
                            app accurately identifies heritage sites within seconds. Whether it's an ancient temple, a
                            medieval castle, or a historic landmark, the app ensures precision in recognizing and
                            categorizing these cultural gems.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-book-open"></i></div>
                        <h4 class="title"><a href="javascript:void(0)">Detailed Historical Insights</a></h4>
                        <p class="description">Unlock a treasure trove of information about the heritage sites you
                            discover. Our app provides comprehensive details, historical facts, and engaging narratives,
                            offering a virtual tour that transports you back in time.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-user"></i></div>
                        <h4 class="title"><a href="javascript:void(0)">User-Friendly Interface</a></h4>
                        <p class="description">With an intuitive and user-friendly interface, the Heritage Site
                            Detection app caters to users of all ages and levels of tech proficiency. The process is as
                            simple as uploading a photo, and the app takes care of the rest, making heritage exploration
                            accessible to everyone.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>938 Aurora Blvd, Cubao, Quezon City, 1109 Metro Manila</p>
                        </div>
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>capstone.project@gmail.com</p>
                        </div>
                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+63 912 345 6789</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
                    <form action="javascript:void(0)" role="form" class="php-email-form" id="contact_us_form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" id="contact_us_name" class="form-control" placeholder="Your Name"
                                    required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" id="contact_us_email" placeholder="Your Email"
                                    required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" id="contact_us_subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" id="contact_us_message" rows="5" placeholder="Message"
                                required></textarea>
                        </div>

                        <div class="text-center">
                            <button type="submit" id="contact_us_submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
</main>
{% include 'includes/footer.html' %}